* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}

.title,
.subtitle {
    color: beige;
    background-color: brown;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    display: block;
}

.image {
    display: block;
    margin: auto;
    border-radius: 20px;
}


p,
li {
    font-weight: bold;
}